<footer>
    <div class="container">
        <div class="footer-inner">
            <div class="links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-vk"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
            <div class="copyright">
                <p>© 2018 ХАІ</p>
                <p>Всі права захищені.</p>
            </div>
        </div>
    </div>
</footer>